.placeholder {
  width: 100%;

  background-color: #171717;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
}