// SCSS Variables
$background-light: #eceaea;
$foreground-light: #171717;
$background-dark: #0a0a0a;
$foreground-dark: #ededed;

// CSS Custom Properties (for dynamic theming)
:root {
  --background: #{$background-light};
  --foreground: #{$foreground-light};

  @media (prefers-color-scheme: dark) {
    --background: #{$background-dark};
    --foreground: #{$foreground-dark};
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: $background-light;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .h1, h2, h3, h4 {
//   color: var(--background);
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    opacity: 0.8;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
