.controls {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1rem;
}

.teamSelector {
  display: flex;
  gap: 8px;

  button {
    flex: 1;
    padding: 10px 10px;
    border: 1px solid #666;
    border-radius: 9999px;
    background: transparent;
    color: #666;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    &:hover {
      background: #E7EAED;
    }

    &.active {
      color: #171717;
      border-color: transparent;
      background: var(--primary-green);
      font-weight: 600;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
    }
  }
}

.eventTabs {
  display: flex;
  gap: 6px;
  background: #f0f0f0;
  padding: 4px;
  border-radius: 20px;
  box-shadow:
        0 1px 2px 0 rgba(0, 0, 0, 0.3),
        0 1px 3px 1px rgba(0, 0, 0, 0.15);

  button {
    flex: 1;
    padding: 8px 12px;
    border: none;
    border-radius: 16px;
    background: transparent;
    color: #666;
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s ease;
    

    &:hover {
      color: #333;
    }

    &.active {
      background: white;
      color: #171717;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06);
      box-shadow: 0 0 10px 0 rgba(112, 224, 0, 0.5);
    }
  }
}
