// SCSS Variables
$container-max-width: 1200px;
$container-padding: 20px;
$title-size: 2.5rem;
$description-size: 1.1rem;
$spacing-unit: 1rem;

// SCSS Mixins
@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-fade {
  color: var(--foreground);
  opacity: 0.8;
}



.container {
  padding: $container-padding;
  max-width: $container-max-width;
  margin: 0 auto;
  color: #171717;
}

.main {
  flex-direction: column;
  min-height: 80vh;
  text-align: center;
}

.title {
  font-size: $title-size;
  margin-bottom: $spacing-unit;
  color: #171717;
  
  // &:hover {
  //   transform: scale(1.02);
  //   transition: transform 0.2s ease;
  // }
}

.description {
  font-size: $description-size;
  @include text-fade;
  max-width: 600px;
  line-height: 1.6;
}

.placeholder {
  height: 500px;
  background-color: #195800;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease;
  }
}


.heatmapsContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding-bottom: 3rem;
  max-width: $container-max-width;
  background-color: var(--light-blue);
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
