.stats {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1rem;
    max-width: 400px;
    margin: 0 auto 1rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e5e5e5;

    &:last-child {
        border-bottom: none;
    }
}

.value {
    font-size: 1rem;
    font-weight: 600;
    color: #171717;
    min-width: 2.5rem;
    text-align: center;
    // background-color: var(--light-green);
    // border: 2px solid var(--primary-green);
    border-radius: 10px;
    padding: 0.5rem;
    // box-shadow: 0 0 10px 0 rgba(112, 224, 0, 0.5);
}

.label {
    font-size: 0.8rem;
    color: #666;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
